<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=08cb0ebaadb99995755a696a9710b229&auto=format&fit=crop&w=3031&q=80');">
	<div class="banner-content">
	  <h1>Cocktails</h1>
	  <p>Create your own or browse through our favorites</p>

		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		  Add a cocktail
		</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>

 </div>
</div>
<div class="wrapper">
	<div class="container">
		<div class="row">
			<% @cocktails.each do |cocktail| %>
				<div class="col-xs-12 col-sm-4">
					<div class="card">
						<div class="card-content">
							<h4><%= link_to "#{cocktail.name.upcase}", cocktail_path(cocktail)%></h4>
							<p><%= cocktail.heart %></p>
							<p><%= cocktail.description %></p>
						</div>
					</div>
				</div>	
			<% end  %>
		</div>
	</div>
</div>