<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 offset-md-3 col-md-6">
				<h1>Let's start with a name...</h1>
					<%= simple_form_for @cocktail do |f| %>
						<%= f.input :name %>
						<%= f.input :description %>
						<%= f.submit "Add", class: "btn btn-primary" %>
					<% end %>
			</div>
		</div>
	</div>
</div>